{% extends 'layout.html' %}
{% block mainbody %}
<div class="container">
      <div class="starter-template">
        <h1>Xword: A Social Crossword Application</h1>
        <p class="lead">


xword is a social crossword web application that will challenge players to solve puzzles of different difficulties and show them how they fare against other players. 

It is written by: 

<ul>
  <li>arc2205@columbia.edu</li>
  <li>bm2787@columbia.edu</li>
  <li>km3227@columbia.edu</li>
  <li>vr2262@columbia.edu</li>
</ul>


<br>
Rules:
<ul>
  <li>Answers must be at least one letter long and no longer than 25 letters</li>
 
</ul>


       <br> 
       </p>
      </div>
</div>
{% endblock %}
