{% extends 'layout.html' %}
{% block mainbody %}
<div class="container">
    <h1> Browse existing puzzles to play </h1>

<ul class="items">
{% for item in paginated.items %}

       <div class="col-lg-3 col-md-3">     
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right">$64.99</h4>
                    <h4><a href="#"><li>{{ item.title }}</li></a>

                    
                    <li>({{ item.num_cells_down }} x {{ item.num_cells_across }}, {{ item.num_hints }} questions)</li>
                    </h4>
                    <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">12 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
 
{% endfor %}
</ul>


<!-- This is from the Flask-SqlAlchemy documentation -->

   <div class="row">
        <div class="col-lg-8 col-lg-offset-4">
            <ul class="pagination pagination-lg">
<div class=pagination>
{%- for page in paginated.iter_pages() %}
{% if page %}
    {% if page != paginated.page %}
    <a href="{{ url_for("myview", page=page) }}">{{ page }}</a>
    {% else %}
 <li><a href="#">   <strong>{{ page }}</strong></li>

    {% endif %}
{% else %}
    <span class=ellipsis>…</span>
{% endif %}
{%- endfor %}
</div>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block jsinclude %}
{% endblock %}


