{% extends 'layout.html' %}
{% block head_extras %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/puzzle.css') }}">
    <script>
        hints = {{ hints|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/puzzle.js') }}"></script>
{% endblock %}
{% block onload %}
    {% if hints %}
        setupPuzzle('puzzleContainer')
    {% endif %}
{% endblock %}
{% block mainbody %}
    {% if message %}
        <p class="lead">{{ message }}<br></p>
    {% endif %}
    <div id="puzzleContainer"></div>
{% endblock %}
