{% extends 'layout.html' %}
{% block head_extras %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Walter+Turncoat">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/puzzle.css') }}">
    <script>
        puzzleData = {{ puzzleData|tojson|safe }};
        leaderboard = {{ leaderboard|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/vue.js') }}"></script>
{% endblock %}
{% block mainbody %}
 <div align="center">
    {% if message %}
        <p class="lead">{{ message }}<br></p>
    {% endif %}

    {% if title %}
        <h1 style="text-align: center"> {{ title }}</h1>
    {% endif %}

    {% if creator %}
        <h3 style="text-align: center"> Created by {{ creator }}</h3>
    {% endif %}

    {% if authors %}
        <h3 style="text-align: center"> With answers authored by {{ authors }}</h3>
    {% endif %}
</div> 



    <div id="xwrd">
        <xwrd-puzzle :title="title"
                     :creator="creator"
                     :authors="authors"
                     :nrows="nrows"
                     :ncols="ncols"
                     :hints-list="hints"
                     csrf-token="{{ csrf_token() }}"
                     :leaderboard="leaderboard">
        </xwrd-puzzle>
    </div>
{% endblock %}
{% block afterbody %}

    <script src="{{ url_for('static', filename='js/puzzle.js') }}"></script>
{% endblock %}
