{% extends 'layout.html' %}
{% block mainbody %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h1>Submit Hint/Answer Pair</h1>
            <form id="pair-form" action="/submit_pair" method="post" role="form">
                  <div class="form-group">
                    <label for="hint">Hint</label>
                    <input type="text" class="form-control" id="hint" name="hint" placeholder="Example hint">
                  </div>
                  <div class="form-group">
                    <label for="answer">Answer</label>
                    <input type="text" class="form-control" id="answer" name="answer" placeholder="Example answer">
                  </div>
                  <div class="row clearfix">
                      <div class="col-md-12 column">
                          <label for="tab_logic">Themes (Optional)</label>
                          <table class="table table-bordered table-hover" id="tab_logic">
                              <thead>
                                  <tr >
                                      <th class="text-center">
                                          Theme
                                      </th>
                                      <th class="td-actions">
                                      </th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                        <div class="ui-widget">
                                            <input type="text" name='theme1' placeholder='Theme' class="form-control theme-input"/>
                                        </div>
                                      </td>
                                      <td>
                                        <a href="javascript:;" class="btn btn-small btn-primary btn-add">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a> 
                                        <!--
                                        <a href="javascript:;" class="btn btn-small btn-primary btn-remove">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </a> 
                                        -->
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <!--<a id="add_theme" class="btn btn-default pull-left">Add Row</a><a id='delete_row' class="pull-right btn btn-default">Delete Row</a>-->
                  <br>
                  <div class="form-group">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="submit" name="pair-submit" id="pair-submit" tabindex="4" class="form-control btn btn-primary" value="Submit Hint Answer Pair">
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block jsinclude %}
    <script src="{{ url_for('static', filename='js/submit_hint.js') }}"></script>
{% endblock %}
